# Assignment_7
###### Q-13. Write an SQL query to show only odd rows from aÂ table.
 
     SELECT * FROM workers WHERE MOD(id,2)<>0

<img src="img/71.jpg" width="700"/>

###### Q-14. Write an SQL query to clone a new table from another table.

    create table workerclone like workers
    INSERT INTO workerclone SELECT * FROM workers
* we can use both first query will create same table formate that we have and 2nd is insert data into newly table...

* Below query will create table as well do the inerstion operation into newly created table...
        CREATE TABLE cloneworker SELECT * FROM workers;

<img src="img/72.jpg" width="700"/>