# Assignment_10

###### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

    SELECT EmpID, FirstName, salary FROM workers w WHERE 6-1 = (SELECT COUNT(DISTINCT salary) FROM workers w2 WHERE w2.salary >= w.salary)

<img src="img/101.jpg" width="700"/>

###### Q-20. Write an SQL query to fetch the list of employees with the same salary.

    select distinct w.FirstName,w.EmailID, w.salary from workers w, workers w1 where w.salary = w1.salary and w.FirstName != w1.FirstName;

<img src="img/102.jpg" width="700"/>