# Assignment_3

#### Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

            SELECT RTRIM(FirstName) FROM worker
<img src="img/a31.jpg" width="700"/>

#### Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

        SELECT DISTINCT Department, LENGTH(Department) AS DPLength FROM worker
 <img src="img/a32.jpg" width="700"/>

#### Q-3. Write an SQL query to fetch nth max salaries from a table.

    SELECT MAX(salary) FROM worker
 <img src="img/a33.jpg" width="700"/>