# Assignment_9

######  Q-17. Write an SQL query to show the top n (say 10) records of a table.

    select * from workers order by salary desc limit 10;

<img src="img/91.jpg" width="700"/>

###### Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

    select * from workers order by salary desc limit 5,1;

<img src="img/92.jpg" width="700"/>