# Assignment_4

##### Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

        SELECT REPLACE(FirstName,"a","A") AS NewName FROM worker
 <img src="img/a41.jpg" width="700"/>

##### Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

    SELECT * FROM worker ORDER BY(FirstName) ASC, Department DESC 
  <img src="img/a42.jpg" width="700"/>

##### Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.
  
      SELECT FirstName, salary FROM worker WHERE salary = (SELECT MAX(salary),FORM worker)

 <img src="img/a43.jpg" width="700"/>