# Assingnment_6

###### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.


    SELECT * FORM workers WHERE YEAR(joining) = 2014 AND MONTH(joining)=02


<img src="img/61.jpg" width="700"/>

###### Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.


<img src="img/duplicate.jpg" width="700"/>

    SELECT FirstName, EmailID, COUNT(*) FROM worker GROUP BY FirstName, EmailID, HAVING COUNT(*) > 1

<img src="img/62.jpg" width="700"/>

###### Q-3. How to remove duplicate rows from Employees table.

workers table with duplicate record...
    
   <img src="img/dupre.jpg" width="700"/>

    select *, count(*) as duplicatecount from workers group by FirstName,EmailID;

<img src="img/63.jpg" width="700"/>

we can see table has record where FirstName and EmailID was two time was repeted after execute the query its Deleted...